html {
    background-color: #56baf5;
}

.unexplored {
    background-color: #025bb5;
}

.hit {
    background-color: #c49a02;
}

.miss {
    background-color: #757575;
}

#board {
    width: 50%;
    border-collapse: collapse;
}

#board td {
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    width: 20%;
}